.navbar {
  position: relative;
  background-color: #161616;
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.links-section {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.brand-name {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  margin: 0.7rem;
}

.navigations {
  display: flex;
  margin: 0px;
  margin-left: 40px;
  padding: 0px;
  z-index: 999;
}

.navigations li {
  position: relative;
  list-style: none;
  font-size: 120%;
  margin: 0 7px;
}

.navigations li a {
  position: relative;
  font-weight: 700;
  color: white;
  display: block;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.navbar div ul li a:hover {
  background-color: #313131;
  color: white;
}

.right-section-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar button {
  background-color: transparent;
  border: none;
}

.navbar > .toggale {
  display: none;
  position: absolute;
  right: 0px;
  margin: 10px;
  color: white;
}

.toggale > i {
  font-size: 21px;
}

.toggale > i:hover {
  color: #858585;
}

.toggale:hover {
  color: #858585;
}

@media (max-width: 1180px) {
  .links-section {
    position: static;
    background-color: #161616;
    align-items: flex-start;
    display: block;
  }
  .brand-name {
    display: block;
  }
  .navigations {
    display: none;
    position: absolute;
    background-color: #161616;
    margin: 0px;
    width: 100%;
    font-size: 3rem;
    padding: 10px 0px;
  }
  .navigations > li {
    margin: 10px;
  }
  .navigations > li > a {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-radius: 0px;
    top: -5px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .right-section-nav {
    display: none;
  }
  .navbar > .toggale {
    display: flex;
  }
}
