/* customizing the whole page here */

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

body,
html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}